@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  height: 100vh;
  scroll-behavior: smooth;
  background: hsl(231, 26%, 95%);
  font-family: 'Poppins', sans-serif;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
